{% extends 'layout.html' %}

{% block body %}
<h3>Hakkımızda</h3>
<hr>
<p>
    zaferiyle, ikincisi MÖ 21 Mayıs 21 tarihinde Romalı General Gaius Julius Caesar ile Pharnakes arasında gerçekleşip, Caesar’ın zaferiyle sonuçlanmıştır. Caesar, tarihe geçen “geldim, gördüm, yendim” (Veni, vidi, vici) sözlerini bu zaferden sonra sarfetmiştir[22]. Zela kenti, Roma zaferinden ve MS 64’de II. Polemon’un ölümünün ardından önce Pontus


    Zile Mal Pazarı
    Polemoniacus Nero döneminde ise Galatia vilayetlerinin bir parçası olmuştur.  Antik Çağ’ın sonlarında Hristiyanlığın yayılması sürecinde Anahita kültü kutsal bakire Meryem’e dönüşmüştür. Zela civarı Bizans döneminde Armeniakon Theması’na bağlanmış olup[23] Sasani savaşları sırasında önem kazanmıştır. Danişmendlilerin ardından, Selçuklu,  İlhanlı, Eretna ve son olarak da 1397’de Osmanlıların eline geçen kentin çevresindeki Türkmenler özellikle Osmanlı-Safevi çatışmaları sırasında Şah İsmail’i destekleyip, Osmanlı ordusuna karşı savaşmışlardır[24].  Zamanla İslamlaşmış olan yerli halktan Hristiyan kalanların önemli bölümü 20. yüzyıla dek varlığını sürdüren Ermeniler olup[25], 1883 Sivas Vilayet Salnamesi’nde
    
    
    Zile’de Kızılay kolunda görevli çocuklar bağış topluyorlar
    
    


</p>

{% endblock body %}
